@inherits DevCruise.Blazor.Client.Shared.Components.Code.ShopAreaComponent
<div class="card border-0">

    <div class="@CardBodyClass">
        <a href="Shop/@HRef/@Description">
            <img class="card-img rounded-0" src="@ImageSource" alt="@Description">
        </a>
        <div class="row justify-content-center">
            <h5 class="card-title mt-4">@Title</h5>
        </div>
        <div class="row justify-content-center">
            <a href="Shop/@HRef/@Description" class="@ButtonClass">SHOP NOW</a>
        </div>
    </div>
</div>
